# Prerequisites
*.d

# Driver
*.Driver

#Log
*.log
*.pdb
*.tlog

*.VC.db


# Visual Studio cache directory
*/.vs/
*/x64
*/Debug
*/Release
*/ExtopiaCheat/Debug
*/ExtopiaCheat/Release
*/ExtopiaCheat/x64

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
